##################################
# SOURCE – SYSLOG FORTINET
##################################
[sources.fortinet_syslog_tcp]
type = "syslog"
mode = "tcp"
address = "0.0.0.0:514"

[sources.fortinet_syslog_udp]
type = "syslog"
mode = "udp"
address = "0.0.0.0:514"

[sinks.out]
type = "console"
inputs = ["fortinet_syslog_tcp","fortinet_syslog_udp"]
encoding = "json"



##################################
# TRANSFORM – PARSE + NORMALIZAÇÃO
##################################
[transforms.parse_fortinet]
type = "remap"
inputs = ["fortinet_syslog"]
source = '''
. |= parse_key_value!(.message)
.log_type = "fortinet"


# Parse padrão key=value do Fortinet
. |= parse_key_value!(.message)

# Normalização mínima
.log_type = "fortinet"

# Classificação simples por tipo
if exists(.type) {
  if .type == "traffic" {
    .log_category = "traffic"
  } else if .type == "utm" {
    .log_category = "utm"
  } else {
    .log_category = "event"
  }
} else {
  .log_category = "unknown"
}


# Timestamp fallback
if !exists(.timestamp) {
  .timestamp = now()
}
'''


##################################
# SINK – VICTORIA LOGS
##################################
[sinks.victorialogs]
type = "http"
inputs = ["parse_fortinet"]
uri = "http://victorialogs:9428/insert/jsonline"
encoding.codec = "json"
method = "post"
batch.max_events = 1000
batch.timeout_secs = 5
